@font-face {
  font-family: 'Lovelyn';
  src: url('../../Arquivos/font/Lovelyn.otf');
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../../Arquivos/Background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Lovelyn';
}
#Corpo{
  background:#28364E;
  color: white;
  width: 80%;
  height: 120vh;
  margin: auto;
  text-align: center;
  overflow: auto;
}
#Corpo::-webkit-scrollbar{
  width: 0px;
}
li > .thumb {
  width: 0px;
  display: none;
}
